<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
    <title>URL Scrap</title>
</head>
<body>
    <form id="urlForm" action="/send-url" method="POST">
        <input type="text" placeholder="Type URL ..." name="myurl">
        <input type="submit" value="Send">
        <h1>Title: <%= title %></h1>
        <h2>Response from OpenAI: </h2>
        <p id="myText"> <%= messagegpt %></p>

        <!-- Button to copy the response to clipboard -->
       
    </form>
    <button class="btn" onclick="copyContent()">Copy!</button>

    <hr>

    <!-- Form for modifying the response -->
    <h1>Modify response of OPENAI</h1>
    <form action="/modify-response" method="POST">
        <input type="text" placeholder="Modify Response ..." name="modifiedResponse">
        <input type="submit" value="Submit">
    </form>

    <hr>

    <h1>
        STYLE TEXT FOR UPLOADING
    </h1>

    <textarea name="ckeditor"></textarea>
    <button class="btn" onclick="copyCKEditorContent()">Copy!</button>
    <input type="submit">
    
    <script>
 let text = document.getElementById('myText').innerHTML;
        const copyContent = async () => {
          try {
            await navigator.clipboard.writeText(text);
            console.log('Content copied to clipboard');
          } catch (err) {
            console.error('Failed to copy: ', err);
          }
        }


      const copyCKEditorContent = () => {
          const editorInstance = CKEDITOR.instances.ckeditor;
          if (editorInstance) {
              const editorText = editorInstance.getData();
              try {
                  navigator.clipboard.writeText(editorText);
                  console.log('CKEditor content copied to clipboard');
              } catch (err) {
                  console.error('Failed to copy CKEditor content: ', err);
              }
          } else {
              console.error('CKEditor instance not found.');
          }
      }
  </script>
  

    <script>
      CKEDITOR.replace( 'ckeditor' );
    </script>
</body>
</html>
